<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Example - layout 1</title>
  <link rel="stylesheet" href="css/nav.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/figure.css">
  <style>
    * {
      margin: 0;
      padding: 0;
    }

    body {
      background-color: indigo;
      color: #fff;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

  </style>
</head>
<body>
<nav class="nav">
  <div class="nav__item">
    <div class="nav__logo">LOGOTIPO</div>
  </div>
  <div class="nav__item nav__item--links">
    <a href="#" class="nav__link">Home</a>
    <a href="#" class="nav__link">About</a>
    <a href="#" class="nav__link">Service</a>
    <a href="#" class="nav__link">Contact</a>
  </div>
</nav>
<main class="main">
  <figure class="figure">
    <img src="https://avatars.githubusercontent.com/u/61126545?v=4" alt="placeholder" class="figure__img">
    <figcaption class="figure__figcaption">Programador Web</figcaption>
  </figure>

  <figure class="figure">
    <img src="https://avatars.githubusercontent.com/u/61126545?v=4" alt="placeholder" class="figure__img">
    <figcaption class="figure__figcaption">Programador Web</figcaption>
  </figure>

  <figure class="figure">
    <img src="https://avatars.githubusercontent.com/u/61126545?v=4" alt="placeholder" class="figure__img">
    <figcaption class="figure__figcaption">Programador Web</figcaption>
  </figure>

  <figure class="figure">
    <img src="https://avatars.githubusercontent.com/u/61126545?v=4" alt="placeholder" class="figure__img">
    <figcaption class="figure__figcaption">Programador Web</figcaption>
  </figure>

  <figure class="figure">
    <img src="https://avatars.githubusercontent.com/u/61126545?v=4" alt="placeholder" class="figure__img">
    <figcaption class="figure__figcaption">Programador Web</figcaption>
  </figure>

  <figure class="figure">
    <img src="https://avatars.githubusercontent.com/u/61126545?v=4" alt="placeholder" class="figure__img">
    <figcaption class="figure__figcaption">Programador Web</figcaption>
  </figure>

  <figure class="figure">
    <img src="https://avatars.githubusercontent.com/u/61126545?v=4" alt="placeholder" class="figure__img">
    <figcaption class="figure__figcaption">Programador Web</figcaption>
  </figure>

  <figure class="figure">
    <img src="https://avatars.githubusercontent.com/u/61126545?v=4" alt="placeholder" class="figure__img">
    <figcaption class="figure__figcaption">Programador Web</figcaption>
  </figure>

</main>
<footer class="footer"></footer>
</body>
</html>